@font-face {
    font-family: 'SEGA LOGO FONT';
    src: url('./fonts/SEGA.TTF') format('truetype');
  }
  
  .sega-font {
    font-family: 'SEGA LOGO FONT', sans-serif;
    font-weight: 200;
    color: #0ccaca;
    /* Add any other styling you want for your <h1> elements */
  }
   